* {
  margin: 0;
  padding: 0; }

body {
  background-color: rgba(198, 238, 252, 0.53);
  color: #fff; }

#content {
  padding: 30px;
  width: 940px;
  margin: 0 auto;
  background-color: #3B3B3B; }
  #content h1 {
    color: #fccd10;
    text-align: center;
    text-transform: uppercase;
    margin: 20px; }
  #content h2 {
    color: #fccd10;
    margin: 20px 0px; }
  #content img {
    border: 2px solid #fccd10;
    padding: 2px; }
    #content img.img-left {
      float: left;
      margin-right: 15px; }
    #content img.img-right {
      float: right;
      margin-left: 15px; }
  #content p {
    margin: 15px 0; }
  #content .brief {
    width: 95%;
    background-color: #FFF178;
    color: #000;
    padding: 20px;
    margin: 3px 0 35px 4px; }
  #content a {
    color: #fccd10; }
  #content caption {
    text-align: right;
    color: black; }
  #content table {
    border-collapse: collapse; }
    #content table th {
      color: black;
      background-color: #94A34E;
      text-transform: uppercase;
      font-weight: normal;
      text-align: left;
      padding: 10px;
      border-right: 1px solid #fff; }
      #content table th:last-child {
        border: none; }
    #content table td {
      border-bottom: 1px solid #94A34E;
      padding: 10px;
      background-color: #677D07; }
  #content form {
    color: #f5c70f; }
    #content form #name-wrap {
      display: flex; }
      #content form #name-wrap div {
        width: 100%; }
        #content form #name-wrap div:last-child {
          margin-left: 20px; }
        #content form #name-wrap div p {
          margin: 0; }
    #content form p {
      margin-bottom: 0; }
  #content .form-field {
    border: 1px solid #94A34E;
    width: 100%;
    padding: 5px; }
  #content input[type="submit"] {
    border: 1px solid #fccd10;
    background-color: #3B3B3B;
    color: #fccd10;
    padding: 10px;
    width: 240px;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
    font-size: 20px; }
