// Colors

$bodyBackground: rgba(198, 238, 252, 0.53);
$textColor: #fff;
$contentBackground: #3B3B3B;
$tableThBorder: $textColor;
$headingColor: #fccd10;
$briefBackground: #FFF178;
$tableColor: #94A34E;
$linkColor: #fccd10;
$formColor: #f5c70f;
$tableTdBackground: #677D07;

// headers style

$headerTransform: uppercase;

// Brief Block

$widthBrief: 95%;
$briefMargin: 3px 0 35px 4px;
