// Colors

$bodyBackground: #DCBB9A;
$briefBackground: #FADCBA;
$contentBackground: #fff;
$headingColor: #893C00;
$tableThBorder: $contentBackground;
$tableColor: #e0e0e0;
$linkColor: #3D70A1;
$formColor: #808080;
$textColor: #000;

// Brief Block

$widthBrief: 40%;
$briefFloat: left;
$briefMargin: 3px 10px 0 0;






